{% extends "./base.html.twig" %}
{% block title %}
	{{title}}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block body %}
	<header>
		<div class="header_logo clearfix">
			<center class="clearfix">
				DSTOI NEWS
			</center>
		</div>
		<nav>
			{% for item in nav_content.getNavContent %}
				<p>{{item}}</p>
			{% endfor %}
		</nav>


	</header>
{% endblock %}
