aside:first-child {
    margin-top: 100px;
}

aside {
    margin-top: 10px;
    width: 75%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(196, 236, 255, 0.3);
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

aside:hover {
    background-color: rgba(196, 236, 255, 0.5);
}

div .buttons {
    display: flex;
    flex-direction: row-reverse;
}

aside span {
    color: rgb(122, 122, 122);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}