html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
}

.row {
    width: auto;
}

.flex-item {
    border: 1px solid blue;
    padding: 5px;
    line-height: 50px;
    max-width: 1000px;
    margin: 0px auto 20px;
    padding: 0 3em 1.5em;
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}