html,
body {
    padding: 1em;
    font-family: arial;
}

body {
    margin: 0;
}

aside img {
    padding-top: 5px;
    vertical-align: top;
    max-width: 400px;
    height: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-wrap: wrap;
    position: relative;
    min-height: 180px;
}

.flex-item {
    background-color: rgba(249, 242, 242, 1);
    font-size: 2.5rem;
    color: rgb(24, 24, 24);
    margin: 5px;
    padding: 15px;
    width: min-content;
    line-height: 25px;
}

.flex-item:first-child {
    flex-basis: 50%;
}

.buttons {
    font-size: 14px;
    align-self: flex-end;
}