body {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header_logo {
    width: 100%;
    height: 70px;
    background-color: #222;
}

center {
    padding-top: 14px;
    font-size: 36px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header nav {
    width: 250px;
    background-color: rgb(59, 59, 59);
    height: 100vh;
    overflow-y: hidden;
    position: absolute;
}

header nav ul {}

header nav ul li {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    margin-inline-start: -2.3em;
    list-style: none;
    text-decoration: none;
}

header nav ul li:hover {
    background-color: rgb(116, 82, 82);
}

header nav ul li a {
    margin-left: 2em;
    text-decoration: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#slidetoggle {
    width: 30px;
    margin-top: 18px;
    margin-left: 20px;
    position: absolute;
}