<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block js %}
			<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
			<script src="./public/js/nav-toggle.js"></script>
		{% endblock %}
		{% block stylesheets %}
			<link rel="stylesheet" href="./public/styles/style.css">
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="slidetoggle">
				<img src="https://img.icons8.com/officel/30/000000/menu.png">
			</div>

			<header>
				<div class="header_logo clearfix">
					<center class="clearfix">
						<a href="/dstoi" style="text-decoration:none; color:white;">DSTOI NEWS</a>
					</center>
				</div>
				<nav id="block">
					<center style="border: 1px solid black; background-color: #222; padding-bottom:20px;">
						<a style="text-decoration:none; color:white;font-size:14px;" href="./SignUp">Регистрация</a>
						<a style="text-decoration:none;color:white;font-size:14px;" href="./SignIn">Вход</a>
					</center>
					<ul>
						{% for item in nav_content.getNavContent %}
							<li>
								<a href="./{{item}}">{{ item }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</header>
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
